[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "rhcoclust"]
	path = rhcoclust
	url = https://github.com/mdbahadur/rhcoclust
	shallow = true
	registered = true
